# Test Notebook for nisarcryodb
---

This note book is used to develop, test, and document the  `nisarcryodb` class, which is used to query the NISAR cal/val db for GPS data from cryosphere validation sites.

In [1]:
%load_ext autoreload
%autoreload 2
import nisarcryodb
from psycopg2 import sql

## Initialize nisarcryodb Object

This step initializes the connection to the nisar cal/val data base. It requires a cal/val database user name and passwd.

In [2]:
myConnection = nisarcryodb.nisarcryodb()

User name:  irj
Password:  ········

## List Schema

List all of the schema in the database.

In [3]:
schemas = myConnection.listSchema(quiet=False)

pg_catalog
information_schema
inundation
disturbance
soil_moisture
seaice
biomass
crop_area
nisar
corner_reflectors
permafrost
sites
tiger
tiger_data
topology
public
solidearth
landice

## List Table Names for Schema

List the names of the table under the landice schema.

In [4]:
myConnection.listSchemaTableNames('landice');

gps_data
l3_product
gps_station
validation_run_gps_data_jct
validation_run
l3_product_calval_site_jct
requirement
l3_product_requirement_jct
calval_site
velocity_data

## List Column Names for Table

List the column names for a table (e.g., gps_station) and schema (e.g., landice).

In [5]:
stationColumns = myConnection.listTableColumns('landice', 'gps_station', quiet=False)

station_id, station_name, reflat, reflon, refheight, poc_name, poc_email, station_geom, site_id

This time get the columns for the gps_data table. Use `returnType=True` to get the data type for each column.

In [6]:
gpsCololumns, gpsDataTypes = myConnection.listTableColumns('landice', 'gps_data', returnType=True)

gps_data_id, station_id, date_uploaded, decimal_year, doy, lat, lon, ht_abv_eps, std, data_geom
integer, integer, date, double precision, integer, double precision, double precision, double precision, double precision, USER-DEFINED

## List Column Values

Get the `station_name` column values for `landice.gps_station` tables

In [7]:
myConnection.getColumn('landice', 'gps_station', 'station_name')

['NIL4',
 'NIT3',
 'NIU4',
 'NIL2',
 'NIL1',
 'NIT4',
 'NIU3',
 'NIT0',
 'NIT2',
 'LORG',
 'NIU1',
 'NIU5',
 'NIT1',
 'NIL3',
 'NIT5',
 'test',
 'NIL5',
 'NIU2']

Get the `latitude` column values for `landice.gps_data` tables

In [8]:
lat = myConnection.getColumn('landice', 'gps_data', 'lat');
lat[0:10]

[-78.17862991394223,
 -78.17864053584339,
 -78.17863685486692,
 -78.17863226461824,
 -78.17864144853885,
 -78.17863077447899,
 -78.1786264857874,
 -78.1786393866371,
 -78.17863479595647,
 -78.17863902692139]

## Station Name to ID

Determine the station ID (e.g., 22) from the station name (e.g., LORG).

In [9]:
myConnection.stationNameToID('LORG')

22

## Get GPS Data for Date Range

Return all the data for a designated station for the decimal date range (d1, d2).

In [10]:
d1 = 2019.81810
d2 = 2019.81811
myData = myConnection.getStationDateRangeData('LORG', d1, d2, 'landice', 'gps_data')

gps_data_id, station_id, date_uploaded, decimal_year, doy, lat, lon, ht_abv_eps, std, data_geom

In [11]:
myData

,gps_data_id,station_id,date_uploaded,decimal_year,doy,lat,lon,ht_abv_eps,std,data_geom
0,2109,22,2024-08-14,2019.818101,299,-78.178632,170.035776,-8.399378,0.034262,0101000020E61000001503241425416540F574E1B66E8B...
1,2110,22,2024-08-14,2019.818102,299,-78.178632,170.035776,-8.404296,0.034277,0101000020E610000038103E1425416540008BB5B66E8B...
2,2111,22,2024-08-14,2019.818103,299,-78.178632,170.035776,-8.401547,0.034317,0101000020E61000005AC65F1425416540B61675B66E8B...
3,2112,22,2024-08-14,2019.818104,299,-78.178632,170.035776,-8.424661,0.035204,0101000020E6100000AEB02F1425416540A21769B66E8B...
4,2113,22,2024-08-14,2019.818105,299,-78.178632,170.035776,-8.420378,0.035208,0101000020E61000000BE54B1425416540485E7FB66E8B...
5,2114,22,2024-08-14,2019.818106,299,-78.178632,170.035776,-8.410220,0.035218,0101000020E610000063A3821425416540819C78B66E8B...
6,2115,22,2024-08-14,2019.818107,299,-78.178632,170.035776,-8.416690,0.035232,0101000020E6100000F51F711425416540C3D9ACB66E8B...
7,2116,22,2024-08-14,2019.818107,299,-78.178632,170.035776,-8.410554,0.035250,0101000020E6100000A5D82714254165406BF597B66E8B...
8,2117,22,2024-08-14,2019.818108,299,-78.178632,170.035776,-8.394513,0.035271,0101000020E61000001B2B9214254165402616B3B66E8B...
9,2118,22,2024-08-14,2019.818109,299,-78.178632,170.035776,-8.383228,0.035295,0101000020E6100000F3BCA4142541654052F27AB66E8B...

## Get Station Information

Return the table with all of the top-level station data (e.g,, name, id, position, etc).

In [12]:
myConnection.getStationsListing()

station_id, station_name, reflat, reflon, refheight, poc_name, poc_email, station_geom, site_id

,station_id,station_name,reflat,reflon,refheight,poc_name,poc_email,station_geom,site_id
0,22,LORG,34.463000,-118.550000,NaN,None,None,0101000020E61000003333333333A35DC025068195433B...,3
1,23,test,34.045000,-119.541000,NaN,None,None,0101000020E6100000B4C876BE9FE25DC0F6285C8FC205...,3
2,17,NIU1,67.119742,-47.139061,NaN,None,None,0101000020E6100000149337C0CC9147C04A7D59DAA9C7...,2
3,18,NIU2,67.131502,-46.222216,NaN,None,None,0101000020E6100000F052EA92711C47C0F3565D876AC8...,2
4,19,NIU3,67.146943,-45.367189,NaN,None,None,0101000020E6100000B939950C00AF46C012D89C8367C9...,2
5,20,NIU4,67.112244,-44.325733,NaN,None,None,0101000020E61000002E1D739EB12946C0064B75012FC7...,2
6,21,NIU5,67.120695,-43.182892,NaN,None,None,0101000020E61000009B594B01699745C09B728577B9C7...,2
7,1,NIT0,-80.330000,154.340000,1406.0,None,None,0101000020E61000007B14AE47E14A634085EB51B81E15...,1
8,2,NIT1,-79.800000,161.330000,34.0,None,None,0101000020E6100000C3F5285C8F2A64403333333333F3...,1
9,3,NIT2,-79.670000,164.800000,49.0,None,None,0101000020E61000009A999999999964407B14AE47E1EA...,1
10,4,NIT3,-78.820000,168.940000,35.0,None,None,0101000020E6100000AE47E17A141E654014AE47E17AB4...,1
11,5,NIT4,-77.890000,169.660000,16.0,None,None,0101000020E610000085EB51B81E356540295C8FC2F578...,1
12,6,NIT5,-78.510000,161.720000,193.0,None,None,0101000020E6100000D7A3703D0A376440713D0AD7A3A0...,1
13,7,NIL1,68.990000,-49.670000,697.0,None,None,0101000020E6100000F6285C8FC2D548C08FC2F5285C3F...,2
14,8,NIL2,68.900000,-49.370000,980.0,None,None,0101000020E61000008FC2F5285CAF48C09A9999999939...,2
15,9,NIL3,68.830000,-48.960000,1196.0,None,None,0101000020E61000007B14AE47E17A48C085EB51B81E35...,2
16,10,NIL4,68.780000,-48.500000,1331.0,None,None,0101000020E610000000000000004048C052B81E85EB31...,2
17,11,NIL5,68.840000,-47.670000,1557.0,None,None,0101000020E6100000F6285C8FC2D547C0F6285C8FC235...,2

## Rollback a Query Error

This will reset the connection after a query fails with an error.

In [ ]:
myConnection.connection.rollback()

## Close the connection

Close the connection when finished.

In [16]:
myConnection.close()